body {
    background-color: #f9f9f9;
    color: #333333;
    font-size: 15px;
    margin: 0px;
}
  .navbar-subtitle {
    font-size: 20px;
    color: #272626;
    text-align: center;
    margin-top: 0;
  }  
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}
a.navbar-link {
    text-decoration: none;
}

/* Style the search bar
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
}

.search-bar button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
} */

.card {
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    font-weight: bold;
}

.btn-primary {
    background-color: #51a9f9;
    border-color: #51a9f9;
}

.btn-primary:hover {
    background-color: #3e93d9;
    border-color: #3e93d9;
}

.filter-button {
    border: 1px solid #d6d8db;
    background-color: #f9f9f9;
    color: #333333;
    margin-right: 5px;
}

.filter-button:focus,
.filter-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    box-shadow: none;
}

.filter-button-selected {
    background-color: #007bff !important;
    color: white !important;
}

.info-circle {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
}

.custom-tabs {
    display: flex;
    justify-content: center;
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: 20px;
    /* width: 500px; */
}

.custom-tab {
    border: 1px solid #007BFF;
    border-radius: 15px;
    color: #007BFF;
    margin-right: 10px;
    padding: 10px;
}

.custom-tab:hover {
    color: black;
    background-color: #007BFF;
    transition: 0.3s;
}

.custom-tab--selected {
    background-color: #007BFF;
    color: #0775ec;
    font-weight: bold;
}
